* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('fundopaisagem.jpg'); /* Altere para o caminho da sua imagem */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 100%; /* Ajuste para ocupar 100% da largura do contêiner pai */
    max-width: 350px; /* Define uma largura máxima */
    text-align: center;
    transition: transform 0.3s;
}

.container:hover {
    transform: translateY(-5px);
}

h1 {
    color: #333;
    margin-bottom: 25px;
    font-size: 24px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.input-container {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s;
    font-size: 16px;
}

input:focus {
    border-color: #6a11cb;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #555, #333);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background: linear-gradient(to right, #444, #222);
    transform: scale(1.05);
}

.result-message {
    color: #333;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

.error-message {
    color: #e74c3c;
    margin-top: 10px;
    font-weight: bold;
}

/* Media Queries para Responsividade */
@media (max-width: 600px) {
    .container {
        padding: 20px; /* Menos padding em telas menores */
    }

    h1 {
        font-size: 20px; /* Tamanho da fonte menor em telas pequenas */
    }

    input, button {
        padding: 10px; /* Ajuste no padding do botão e dos inputs */
        font-size: 16px; /* Tamanho da fonte reduzido */
    }
}
